
    <%- include('../partials/header.ejs')%>
    <main id="contact" class="container">
        <h2 class="contact__title">Contacto</h2>
        <form class="contact__form" id="contactForm" action="/contact" method="POST">
            <div class="form__flex">
                <!-- name -->
                <div class="form__box--grid">
                    <label class="form__label contact__subtitle" for="name">Nombre</label>
                    <input class="form__input" id="name" name="name" type="text" placeholder="Ingresar nombre" required />
                </div>

                <!-- email  -->
                <div class="form__box--grid">
                    <label class="form__label contact__subtitle" for="emailAdd">Email</label>
                    <input class="form__input" id="emailAdd" name="emailAdd" type="email" placeholder="Ingresar Email" required />
                </div>
            </div>
            </div>
            <!-- message -->
            <div class="form__box--flex">
                <label class="form__label contact__subtitle" for="message">Mensaje</label>
                <textarea id="message" name="message" type="text" placeholder="Ingresar mensaje" rows="6" required></textarea>
            </div>


            <!-- submit -->
            <div class="form__submission form__flex">
                <button class="form__btn btn btn--primary btn--large" type="submit">Enviar</button>
                <input class="form__btn btn btn--primary btn--large" type="reset" value="Limpiar">
            </div>

        </form>
    </main>

    <%- include('../partials/footer.ejs')%>
</body>
</html>