<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> CREATE | FunkoShop</title>
  <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <!-- Header START -->
    <%- include('../partials/header.ejs')%>

  <main class="container">
    <h2 class="create_title">CREAR NUEVO ITEM</h2>
    <form action="/admin/create" method="POST" enctype="application/x-www-form-urlencoded">
      <div class="create_category-licence">
        <label class="create_label" for="categoria">Categoria: </label>
        <select class="create_select" name="categoria" id="categoria" required>
          <option value="#" disabled selected>Seleccionar</option>
          <option value="figuras">Figuras</option>
          <option value="valor1">valor1</option>
          <option value="valor2">valor2</option>
          <option value="valor3">valor3</option>
        </select>
        <label class="create_label" for="licencia">Licencia: </label>
        <select class="create_select" name="licencia" id="licencia" required>
          <option value="#" disabled selected>Seleccionar</option>
          <option value="valor1">valor1</option>
          <option value="valor2">valor2</option>
          <option value="valor3">calor3</option>
        </select>
        <br>
      </div>
      <div>
        <label class="create_product-info" for="producto">Nombre del producto:</label>
        <input class="create_product-text" id="producto" type="text" placeholder="Kakashi Hatake Shipudden Saga">
      </div>
      <textarea class="create_textarea" cols="120" rows="8" name="" id="create-description"
        placeholder="Descripción del producto"></textarea>
      <br>
      <div>
        <label class="create_product-info" for="sku">SKU:</label>
        <input class="create_product-text create1" id="sku" type="text" placeholder="SSK111AB001">
        <label class="create_product-info" for="precio">Precio:</label>
        <input class="create_product-text create1" id="precio" type="text" placeholder="$ 0000,00">
        <label class="create_product-info" for="stock">Stock:</label>
        <input class="create_product-text create2" id="stock" type="text" placeholder="0">
        <br>
        <label class="create_product-info" for="descuento">Descuento:</label>
        <input class="create_product-text create2" id="descuento" type="text" placeholder="0%">
        <label class="create_product-info" for="cuotas">Cuotas:</label>
        <select class="create_select" name="cuotas" id="cuotas" required>
          <option value="6cuotas" selected>6 cuotas sin interés</option>
          <option value="3cuotas">3 cuotas sin interés</option>
          <option value="1cuota">1 cuota sin interés</option>

        </select>
      </div>
      <br>
      <div>
        <label class="create_product-info" for="carga-imagenes">Imágenes:</label>
        <input type="file" name="carga-imagenes" id="carga-imagenes" placeholder="No se ha seleccionado ningún archivo">
      </div>
      <br>
      <div class="create_buttons">
        <button class="create_button btn-modify" type="submit">Agregar producto</button>
        <button class="create_button btn-clear" type="reset">Limpiar</button>
      </div>
    </form>
    </section>
  </main>

  <br><br><br>
  <%- include('../partials/footer.ejs')%>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>